div#footer-container {
  height: 15em;
  background-color: #233237;
  clear: both;
  color: #EAC67A;
  width: 100%;
}
div#footer-container #footer-logo {
  float: left;
  height: 15em;
  line-height: 15em;
}
div#footer-container #footer-logo .fa-rebel {
  color: #EAC67A;
  font-size: 11em;
  padding-top: .15em;
}
div#footer-container .footer-links ul {
  padding-top: 1.9em;
}
div#footer-container .footer-links li {
  list-style: none;
  padding-top: .3em;
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
div#footer-container .footer-links a {
  color: #EAC67A;
}
div#footer-container .footer-links a:hover {
  color: #F4F4F4;
  text-decoration: none;
}
div#footer-container #footer-social {
  height: 15em;
  line-height: 15em;
  float: right;
}
div#footer-container #footer-social a {
  color: #EAC67A;
  text-decoration: none;
}
div#footer-container #footer-social a:hover {
  color: #F4F4F4;
}
div#footer-container #footer-social .fa-facebook-square {
  font-size: 5em;
}
div#footer-container #footer-social .fa-twitter-square {
  font-size: 5em;
  padding-left: .3em;
}
div#footer-container #copyright {
  text-align: center;
  margin-top: -2em;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
