@import "variables.less";



// footer styling
div#footer-container {
    height: 15em;
    background-color: @gunMetal;
    clear: both;
    color: @warmYellow;
    width: 100%;

        #footer-logo {
            float: left;
            height: 15em;
            line-height: 15em;

            .fa-rebel {
                color: @warmYellow;
                font-size: 11em;
                padding-top: .15em;
            }
        }

        .footer-links {
            ul {
                padding-top: 1.9em;
            }

            li {
                list-style: none;
                padding-top: .3em;
                font-size: 1.5em;
                font-family: "Oswald", sans-serif;
                font-weight: 400;
            }

            a {
                color: @warmYellow;
            }

            a:hover {
                color: @paper;
                text-decoration: none;
            }
        }

        #footer-social {
            height: 15em;
            line-height: 15em;
            float: right;

            a {
                color: @warmYellow;
                text-decoration: none;
                }

            a:hover {
                color: @paper;
                }

            .fa-facebook-square {
                font-size: 5em;
            }

            .fa-twitter-square {
                font-size: 5em;
                padding-left: .3em;
            }
        }


        #copyright {
            text-align: center;
            margin-top: -2em;
            font-size: 1.2em;
            // font-family: @oswaldLight;
            font-family: "Oswald", sans-serif;
            font-weight: 300;
            // font-size: 2em;
        }
}


// About Us Styling

// #chris-image {
//     background-image: url("images/headshot.jpg");
//     height: 10em;
//     width: 10em;
// }

// #jess-image {
//     background-image: url("images/jess.jpg");
// }