<div id="about-main-container">
    <div id="chris-container">
        <div id="chris-image">
            <img src="images/jessica.png"/>
        </div>
        <div id="chris-info">
            <span id="chris-para">soul-delay film camera crypto- kanji drone gang hotdog sprawl. faded monofilament DIY shanty town euro-pop engine man post- man. dead Chiba numinous shrine industrial grade construct military-grade computer meta-. boat 3D-printed tube cyber- warehouse math- vehicle sub-orbital market. assassin human shrine face forwards voodoo god fetishism silent kanji singularity. car smart- math- youtube A.I. neon boy urban shanty town.</span>
            <div id="chris-links">
                <i class="fa fa-github" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div id="jess-container">
        <div id="jess-image">
            <img src="images/jessica.png"/>
        </div>
        <div id="jess-info">
            <span id="chris-para">Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.</span>
            <div id="jess-links">
                <i class="fa fa-github" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
